
server/.vs/BookStore/v16/Server/sqlite3/db.lock
server/*/bin/
server/*/obj/
server/packages/
*.suo
server/buildreports/
server/node_modules/
server/test-results.xml
*.user
server/bin/
nunit-result.xml
*.swp
server/coverage
buildreports
server/.vs/config/applicationhost.config
server/OpenCover/

server/Interactive/.vs/Interactive/config/applicationhost.config

server/Interactive/.vs/Interactive/DesignTimeBuild/.dtbcache.v2

server/Interactive/Interactive.Domain/bin/Debug/net5.0/Interactive.Domain.deps.json

*.dll

*.pdb

server/Interactive/Interactive.Domain/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs

server/Interactive/Interactive.Domain/obj/Debug/net5.0/

server/Interactive/Interactive.Domain/obj/

server/Interactive/Interactive.Infrastructure/bin/Debug/net5.0/

server/Interactive/Interactive.Infrastructure/obj/Debug/net5.0/

server/Interactive/Interactive.Persistence/bin/Debug/net5.0/

server/Interactive/Interactive.Persistence/obj/Debug/net5.0/

server/Interactive/Interactive.Infrastructure/obj/

server/Interactive/Interactive.Persistence/obj/

server/Interactive/Interactive.Service/bin/Debug/net5.0/

server/Interactive/Interactive.Service/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs

server/Interactive/Interactive.Service/obj/Debug/net5.0/

server/Interactive/Interactive.Test.Integration/bin/Debug/net5.0/

server/Interactive/Interactive.Test.Integration/obj/

server/Interactive/Interactive.Test.Unit/bin/Debug/net5.0/runtimes/linux-x64/native/

server/Interactive/Interactive.Test.Unit/bin/Debug/net5.0/runtimes/linux-x86/native/

server/Interactive/Interactive.Test.Unit/bin/Debug/net5.0/runtimes/osx-x64/native/

server/Interactive/Interactive.Test.Unit/bin/Debug/net5.0/

server/Interactive/Interactive.Test.Unit/obj/

server/Interactive/Interactive.Service/obj/

server/Interactive/Interactive/bin/Debug/net5.0/

server/Interactive/Interactive/obj/Debug/net5.0/

server/Interactive/Interactive/obj/
